<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tut One</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-screen bg-slate-900 p-10">
        <a href="/" class="text-blue-500">Go Back</a>
        <h2 class="text-white text-2xl my-3"> <%= title.split(',').join(' ').replace('.txt', '') %> </h2>
        <p class="text-white block">  <%= desc  %> </p>
    </div>

</body>

</html>